<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" version="1.0.1" id="br.com.andersonbrantes.cenourapp">
  <name>Só Cenoura</name>

  <description>
    Cardápio do restaurante Só Cenoura
  </description>

  <author href="http://andersonbrantes.com.br" email="anderson@scupen.com" >
    Anderson Brantes
  </author>

</widget>
